<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=data%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Teko:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Russo+One&family=Teko:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
    
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="page-title">
                <h1><a href="/">TODOS</a></h1>
                <% if(user){ %>
                    <div class="user-panel"><%= user %></div>
                <%}%>
            </div>
            <div class="nav-links"><%- include("navPartials") %></div>
        </nav>
        <div class="inner-content">
           